<% layout('boilerplate') -%> <% if(file){ %>
<div class="container text-center">
	<div class="row">
		<div class="col-6 offset-3">
			<div class="mb-5">
				<h1>
					<span class="border-bottom border-3 border-info"
						>Details</span
					>
				</h1>
			</div>
			<div class="mb-5 text-start">
				<div class="mb-3">
					<h3>Retrieve File ID:</h3>
					<p id="file_id" style="display: inline"><%= file._id %></p>
					<button class="btn btn-secondary btn-sm" onclick="copy()">
						Copy ID
					</button>
				</div>
				<div class="mb-3">
					<h3>Uploaded By:</h3>
					<p><%= file.uploader %></p>
				</div>
				<div class="mb-3">
					<h3>Upload Date:</h3>
					<p><%= (new Date(file.date)).toString() %></p>
				</div>
				<div class="mb-3">
					<h3>Expires in:</h3>
					<p><%= (new Date(file.expire)).toString() %></p>
				</div>
				<table class="table">
					<tr>
						<th>File Name</th>
						<th>Download</th>
					</tr>
					<% for(let i of file.file) { %>
					<tr>
						<td><%= i.filename.substr(11,i.filename.length) %></td>
						<td>
							<button
								class="btn btn-primary"
								onclick="download('<%- i.url %>')"
							>
								Download
							</button>
						</td>
					</tr>
					<% } %>
				</table>
			</div>
			<div>
				<a href="/">Back to Home</a>
			</div>
		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
<script>
	function download(url1) {
		const url = url1;
		const fileLoc = "TransFiler/";
		const filename = url.slice(url.indexOf(fileLoc) + fileLoc.length);
		axios({
			url: url,
			method: "GET",
			responseType: "blob",
		}).then((response) => {
			const url = window.URL.createObjectURL(new Blob([response.data]));
			const link = document.createElement("a");
			link.href = url;
			link.setAttribute("download", filename);
			document.body.appendChild(link);
			link.click();
		});
	}
	function copy() {
		Clipboard_CopyTo(document.querySelector("#file_id").innerText);
	}
	function Clipboard_CopyTo(value) {
		var tempInput = document.createElement("input");
		tempInput.value = value;
		document.body.appendChild(tempInput);
		tempInput.select();
		document.execCommand("copy");
		document.body.removeChild(tempInput);
	}
</script>
<% } else { %>
<div class="container text-center">
	<h1>File Not Found</h1>
	<a href="/">Back to Home</a>
</div>
<% } %>
